/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 0px 0px 0px;
  text-align: left;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

.appContainer{
	font-color: green;
	background-color: green;
	border: 2 px solid black;
	min-height: 600px;
}


.characterCreator{
	background-color: yellow;
	border: 2px solid black;
	min-height: 100px;
}

.selectAttributesContainer{
	background-color: #20FFB8;
	text-align: left;
	border: 2px solid yellow;
}

.selectClassContainer{
	background-color: #9222ff;
	text-align: left;
	border: 2px solid green;
}

.selectedClasses{
	background-color: #2062B8;
	text-align: left;
	border: 2px solid red;
	height: 50px;
}

.multipleTreeContainer{
	background-color: grey;
	background-image:url('/images/trees/blanks/background_progress.png');
	border: 2px solid black;
	width:1272px;
	height:1075px;
}

.treeContainer{
	width: 50px;
	height:100px;
	border:1px solid black;
}

.tree{
	
}
